name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 6.32.9
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: '16'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm build
      - run: pnpm test
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/**/*