name: Deploy

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 6.32.9
      - uses: actions/setup-node@v3.5.1
        with:
          cache: 'pnpm'
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install
      - run: pnpm build
      - run: pnpm test
      - name: 'Publish package on NPM'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config user.name "federi95"
          git config user.email "fedespam02@gmail.com"
          pnpm publish --no-git-checks
      - name: Compress for release
        run: zip -r ${{ github.event.repository.name }}.zip . -x "src/*" ".git/*" "node_modules/*" ".github/*" ".eslintrc" ".npmrc" "*.config.ts" "*.config.js" "tsconfig.json" "pnpm-lock.yaml" ".prettierrc" "coverage/*" ".gitignore"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ github.event.repository.name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
